! Configuration File for keepalived
global_defs {
    router_id {{ keepalived_config.router_id | default('LVS_DEVEL') }}
    script_user root
    enable_script_security
    {% if keepalived_config.smtp_alerts | default(false) %}
    smtp_server {{ keepalived_config.smtp_server }}
    smtp_connect_timeout 30
    notification_email {
        {{ keepalived_config.notification_email | join('\n        ') }}
    }
    notification_email_from {{ keepalived_config.notification_email_from }}
    {% endif %}
}

vrrp_script chk_apiserver {
    script "/etc/keepalived/check_apiserver.sh"
    interval {{ keepalived_config.check_interval | default(5) }}
    weight {{ keepalived_config.check_weight | default(-5) }}
    fall {{ keepalived_config.check_fall | default(2) }}
    rise {{ keepalived_config.check_rise | default(1) }}
}

vrrp_instance VI_1 {
    state {{ 'MASTER' if inventory_hostname == groups['masters'][0] else 'BACKUP' }}
    interface {{ network_interface }}
    virtual_router_id {{ keepalived_config.virtual_router_id | default(60) }}
    priority {{ keepalived_config.priority if inventory_hostname == groups['masters'][0] else keepalived_config.priority - 10 }}
    advert_int {{ keepalived_config.advert_int | default(1) }}
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_config.auth_pass }}
    }
    virtual_ipaddress {
        {{ k8s_lb.vip }}/{{ keepalived_config.vip_netmask | default(24) }}
    }
    track_script {
        chk_apiserver
    }
    {% if keepalived_config.notify_scripts | default(false) %}
    notify_master "/etc/keepalived/notify_master.sh"
    notify_backup "/etc/keepalived/notify_backup.sh"
    notify_fault "/etc/keepalived/notify_fault.sh"
    {% endif %}
}

