127.0.0.1 localhost
127.0.1.1 {{ inventory_hostname }}

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

{% for master in k8s_master_nodes.values() %}
{{ master.ip }} {{ master.name }}
{% endfor %}

{% for worker in k8s_worker_nodes.values() %}
{{ worker.ip }} {{ worker.name }}
{% endfor %}
